<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>ALERTS</string>
			<key>FooterText</key>
			<string>ADDITIONAL_ALERTS_DESC</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
			<key>Title</key>
			<string>SECONDARY_ALERTS</string>
			<key>Key</key>
			<string>secondarySettingsButton</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>LANGUAGE</string>
			<key>FooterText</key>
			<string>LANGUAGE_DESC</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>LANGUAGE_SELECTION</string>
			<key>Key</key>
			<string>language</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>AUTOMATIC</string>
				<string>עברית</string>
				<string>English</string>
			</array>
			<key>Values</key>
			<array>
				<string></string>
				<string>he</string>
				<string>en</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>CONTACT</string>
			<key>FooterText</key>
			<string>CONTACT_DESC</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
			<key>Title</key>
			<string>REPORT_BUG</string>
			<key>Key</key>
			<string>contactButton</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
			<key>Title</key>
			<string>VISIT_US</string>
			<key>Key</key>
			<string>visitUsButton</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
			<key>Title</key>
			<string>RATE_APP</string>
			<key>Key</key>
			<string>rateButton</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>IASKButtonSpecifier</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentLeft</string>
            <key>Title</key>
            <string>LEARN_ABOUT_LIFESHIELD</string>
            <key>Key</key>
            <string>learnAboutLifeshield</string>
        </dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
