<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>APP</string>
			<key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>FooterText</key>
            <string>APP_DESC</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>REALTIME_NOTIFICATIONS</string>
			<key>Key</key>
			<string>notifications</string>
			<key>DefaultValue</key>
			<true/>
        </dict>
        <dict>
            <key>Type</key>
            <string>IASKButtonSpecifier</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentLeft</string>
            <key>Title</key>
            <string>SELF_TEST</string>
            <key>Key</key>
            <string>selfTestButton</string>
        </dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
            <string>ALERTS</string>
            <key>FooterText</key>
            <string>ALERTS_DESC</string>
		</dict>
		<dict>
            <key>Type</key>
            <string>IASKButtonSpecifier</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentLeft</string>
            <key>Title</key>
            <string>CITY_SELECTION</string>
            <key>Key</key>
            <string>citySelectionButton</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>IASKButtonSpecifier</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentLeft</string>
            <key>Title</key>
            <string>ZONE_SELECTION</string>
            <key>Key</key>
            <string>zoneSelectionButton</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>SOUNDS</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>IASKButtonSpecifier</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentLeft</string>
            <key>Title</key>
            <string>ALERT_SOUND</string>
            <key>Key</key>
            <string>soundSelectionButton</string>
        </dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
            <string>OPTIONS</string>
            <key>FooterText</key>
            <string>OPTIONS_DESC</string>
		</dict>
		<dict>
            <key>Type</key>
            <string>IASKButtonSpecifier</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentLeft</string>
            <key>Title</key>
            <string>ADDITIONAL_SETTINGS</string>
            <key>Key</key>
            <string>additionalSettingsButton</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
